body {
  background-color: #5cdb78;
}

h1 {
  font-family: "Rowdies";
  font-weight: 400;
  font-size: 4rem;
  /* font-family: "gelica", sans-serif;
  font-weight: 500;
  font-style: normal; */
}

.title {
  font-family: "Rowdies", regular;
  font-size: 7rem;
}

#main-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#info-div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#ingredients-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  gap: 1rem;
}

#quantity {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#ingredient {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#inventory-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  gap: 1rem;
}

#inventory-div-2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 5rem;
  gap: 1rem;
}

#recipe-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  gap: 1rem;
}
